<select class = "form-control" id="candidates">
   <option value = "-1">--Select Committee--</option>
<% for(var i=0; i < data.length; i++) { %>
   <option value = "<%= data[i].idCommittee%> "> <%= data[i].Committee_Name%>
   </option>
<% } %>
</select>
