
<div class="row">
		<div class ="col-xs-4 col-xs-offset-4">
			<div class="button group">
				<button id="view" class="btn btn-warning btn-lg">View</button>
				<button id="create" class="btn btn-primary btn-lg">Create</button>
				<button id = "edit" class="btn btn-success btn-lg">Edit</button>
			</div>
		</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div id="reportsCRUD">
			<% if (option === 'view') { %> 
        		<% include ../dashboard/reportsView } %>
        		<% } %>
        		<% if (option === 'edit') { %> 
       				<% include ../dashboard/reportsEdit } %>
       			<% } %>
       			<% if (option === 'create') { %> 
       				<% include ../dashboard/reportsCreate } %>
       			<% } %>     		
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
	$('div.button.group button').click(function(){
		var url = $(location).attr('href');
 		var clicked = event.target.id;
       	var params = {
			menu: 'reports',
			option: clicked
		}

		$('button.btn.btn-lg').removeClass('active')
		$(this).addClass('active');
		
		var str = jQuery.param(params);
			
		//if there are no parameters, add them
		if (url.indexOf('/') > 5){
		 window.history.pushState("", "", url.replace(/\?.*$/, "") + "?" + jQuery.param(params))
		} else {  //remove the existing params and add the new ones
		 window.history.pushState("", "", url.slice(0, url.indexOf('/')) + "?" +  jQuery.param(params))
		}

		$.get("/reports" + clicked, function(data){	   
			//alert('getting data');    
	    	if(data){
				$('#reportsCRUD').html(data);
	       	}
	  	});
	})
</script>